exportPattern("^[[:alpha:]]+")
import(ComplexHeatmap)
import(cowplot)
import(data.table)
import(dplyr)
import(ggplot2)
import(ggpubr)
import(ggrepel)
import(ggridges)
import(ggthemes)
import(gplots)
import(gridExtra)
import(HGNChelper)
import(patchwork)
import(plot3D)
import(plyr)
import(RColorBrewer)
import(reshape2)
import(scales)
import(tidyverse)
import(viridis)
import(akmedoids)
import(celldex)
import(celltalker)
import(DOSE)
import(enrichplot)
import(harmony)
import(HGNChelper)
import(htmlwidgets)
import(monocle3)
import(org.Hs.eg.db)
import(plotly)
import(Seurat)
import(SeuratWrappers)
import(SingleR)
import(BSgenome)
import(BSgenome.Hsapiens.UCSC.hg19)
import(BSgenome.Hsapiens.UCSC.hg38)
import(chromVAR)
import(EnsDb.Hsapiens.v75)
import(EnsDb.Hsapiens.v86)
import(GenomeInfoDb)
import(JASPAR2020)
import(motifmatchr)
import(Signac)
import(TFBSTools)
import(circlize)
import(ggalluvial)
import(immunarch)
import(scRepertoire)
import(vegan)
import(adegenet)
import(ape)
import(fastcluster)
import(GenomicRanges)
import(ggtree)
import(intervalaverage)
import(umap)
import(Biobase)
import(ConsensusClusterPlus)
import(flowCore)
import(FlowSOM)
import(flowWorkspace)
import(ggcyto)
import(limma)
import(openCyto)
import(Rtsne)
import(CytoExploreR)
import(CytoExploreRData)
import(robustbase)
